* {
  box-sizing: border-box;
}
/* ================start all========================================== */
.all {
  width: 839px;
  height: 264px;
  border-radius: 8px;
  border: 0.81px;
  background-color: rgba(255, 255, 255, 1);
}
@media (min-width: 1200px) {
  .all {
    width: 839px;
  }
  .chart {
    width: 839px;
    height: 220px;
  }
}
@media (min-width: 300px) and (max-width: 540px) {
  .all {
    width: 350px;
    margin: auto;
  }
}
@media (min-width: 540px) and (max-width: 1000px) {
  .all {
    width: 720px;
    margin: auto;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .all {
    width: 700px;
    margin: auto;
  }
}
/* =====================End all =============================== */

/* =====================start statistcs========================== */

@media (min-width: 1200px) {
  .statistics {
    width: 243px;
    height: 36px;
    margin-inline-start: 16px;
  }
}
@media (min-width: 300px) and (max-width: 540px) {
  .statistics {
    width: 200px;
    height: 36px;
    margin-inline-start: 16px;
  }
}
@media (min-width: 540px) and (max-width: 1200px) {
  .statistics {
    width: 200px;
    height: 36px;
    margin-inline-start: 16px;
  }
}
h6 {
  margin: 0;
}
.discreption {
  width: 227px;
  height: 13px;
  font-size: 13px;
  margin-bottom: 0;
  color: rgba(146, 161, 173, 1);
}

@media (min-width: 1200px) {
  .statistcs-type {
    margin-inline-end: 16px;
  }
  .statistcs-type select {
    width: 67.37px;
    height: 30.28px;
    border-radius: 8.07px;
    font-size: 12px;
  }
}
@media (min-width: 300px) and (max-width: 540px) {
  .statistcs-type select {
    width: 60.37px;
    height: 30.28px;
    border-radius: 8.07px;
    font-size: 10px;
    margin-right: 8px;
  }
}
@media (min-width: 540px) and (max-width: 1200px) {
  .statistcs-type select {
    width: 60.37px;
    height: 30.28px;
    border-radius: 8.07px;
    font-size: 10px;
    margin-right: 16px;
  }
}
/* ==================================End Statistics */
