<div class="all-components" [dir]="'dir' | translate">
  <button class="btn" (click)="switchLanguage('en')">English</button>
  <button class="btn" (click)="switchLanguage('ar')">Arabic</button>
  <div class="row">
    <app-taznum class="col-12 pe-0"></app-taznum>
    <div class="row mb-1 ps-0 pe-0 chart">
      <app-chart class="col-lg-8 col-12 pb-5 ps-0 pe-0"></app-chart>
      <app-taz-link
        class="taz-link col-lg-4 col-sm-12 pb-5 pe-0"
      ></app-taz-link>
    </div>

    <app-tickects-sales class="col-12 mt-3 mb-2 pe-0"></app-tickects-sales>

    <app-table class="col-12 mt-3 pe-0"></app-table>
  </div>
</div>
