<div class="d-flex justify-content-between all">
  <div class="d-flex align-items-center">
    <label for="search">Tickets Sales</label>
    <form class="search ms-1 me-1" role="search">
      <input
        type="search"
        placeholder="Search For"
        aria-label="Search"
        id="search"
      />
    </form>
    <div class="icon pt-1 me-1">
      <img src="/assets/setting-4.svg" alt="" />
    </div>
    <div class="icon pt-1">
      <img src="/assets/Group 1000009749.svg" alt="" />
    </div>
  </div>
  <div class="buttons d-flex align-items-center">
    <div class="form-check form-switch p-0">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexSwitchCheckChecked">valid</label>
    </div>
    <button type="button" class="btn ms-2">Book New Ticket</button>
  </div>
</div>
