<div class="all pt-3 pb-3 pe-0">
  <div class="containe table-responsive">
    <table class="table">
      <thead class="head">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-start">The User</th>
          <th scope="col">Ticket No</th>
          <th scope="col">
            Ticket Value <img src="/assets/Group 1000009749.svg" alt="" />
          </th>
          <th scope="col">Cinema</th>
          <th scope="col">No Of Persons</th>
          <th scope="col">No Of Buy</th>
          <th scope="col">Ticket</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" class="number">1</td>
          <td class="first">
            <div class="user d-flex align-items-center">
              <div class="">
                <img src="/assets/Image-30.svg" alt="" />
              </div>
              <div class="ms-2">
                <p>Ahmed Mahmoud</p>
                <p class="number">0123456789</p>
              </div>
            </div>
          </td>
          <td>c-101</td>
          <td>40$</td>
          <td>
            <p class="address">
              Cinema Masr,Mol AlArAb,Atnan Tour,Saraia ElQuba...
            </p>
          </td>
          <td>1</td>
          <td>once</td>
          <td>
            <div
              class="theticket d-flex align-items-center justify-content-center"
            >
              <div class="icon">
                <img class="" src="/assets/ticket-2.svg" alt="" />
              </div>
              <div class="details text-centar">
                <p>Ticket No 45 .PDF</p>
                <p class="number">9mb . PDF</p>
              </div>
              <div class="download ms-2">
                <img src="/assets/Vector.svg" alt="" />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row" class="number">2</td>
          <td>
            <div class="user d-flex align-items-center">
              <div class="">
                <img src="/assets/Image-31.svg" alt="" />
              </div>
              <div class="ms-2">
                <p>Ahmed Mahmoud</p>
                <p class="number">0123456789</p>
              </div>
            </div>
          </td>
          <td>c-101</td>
          <td>40$</td>
          <td>
            <p class="address">
              Cinema Masr,Mol AlArAb,Atnan Tour,Saraia ElQuba...
            </p>
          </td>
          <td>1</td>
          <td>once</td>
          <td>
            <div
              class="theticket d-flex align-items-center justify-content-center"
            >
              <div class="icon me-2">
                <img class="" src="/assets/ticket-2.svg" alt="" />
              </div>
              <div class="details text-centar">
                <p>Ticket No 45 .PDF</p>
                <p class="number">9mb . PDF</p>
              </div>
              <div class="download ms-2">
                <img src="/assets/Vector.svg" alt="" />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row" class="number">3</td>
          <td>
            <div class="user d-flex align-items-center">
              <div class="">
                <img src="/assets/Image-30.svg" alt="" />
              </div>
              <div class="ms-2">
                <p>Ahmed Mahmoud</p>
                <p class="number">0123456789</p>
              </div>
            </div>
          </td>
          <td>c-101</td>
          <td>40$</td>
          <td>
            <p class="address">
              Cinema Masr,Mol AlArAb,Atnan Tour,Saraia ElQuba...
            </p>
          </td>
          <td>1</td>
          <td>once</td>
          <td>
            <div
              class="theticket d-flex align-items-center justify-content-center"
            >
              <div class="icon me-2">
                <img class="" src="/assets/ticket-2.svg" alt="" />
              </div>
              <div class="details text-centar">
                <p>Ticket No 45 .PDF</p>
                <p class="number">9mb . PDF</p>
              </div>
              <div class="download ms-2">
                <img src="/assets/Vector.svg" alt="" />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row " class="number">4</td>
          <td>
            <div class="user d-flex align-items-center">
              <div class="">
                <img src="/assets/Image-31.svg" alt="" />
              </div>
              <div class="ms-2">
                <p>Ahmed Mahmoud</p>
                <p class="number">0123456789</p>
              </div>
            </div>
          </td>
          <td>c-101</td>
          <td>40$</td>
          <td>
            <p class="address">
              Cinema Masr,Mol AlArAb,Atnan Tour,Saraia ElQuba...
            </p>
          </td>
          <td>1</td>
          <td>once</td>
          <td>
            <div
              class="theticket d-flex align-items-center justify-content-center"
            >
              <div class="icon me-2">
                <img class="" src="/assets/ticket-2.svg" alt="" />
              </div>
              <div class="details text-centar">
                <p>Ticket No 45 .PDF</p>
                <p class="number">9mb . PDF</p>
              </div>
              <div class="download ms-2">
                <img src="/assets/Vector.svg" alt="" />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="foot d-flex justify-content-between">
      <div class="display d-flex align-items-center">
        <p class="me-2">Display</p>

        <select class="form-select choose shadow-sm">
          <option value="20" selected>20</option>
        </select>

        <p class="ms-2">From 250</p>
      </div>
      <div class="pagina">
        <nav aria-label="">
          <ul class="d-flex">
            <li class="page-item" tabindex="0">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" tabindex="0"><a class="page-link">1</a></li>
            <li class="page-item" tabindex="0"><a class="page-link">2</a></li>
            <li class="page-item" tabindex="0"><a class="page-link">3</a></li>
            <li class="page-item" tabindex="0"><a class="page-link">4</a></li>
            <li class="page-item" tabindex="0"><a class="page-link">5</a></li>
            <li class="page-item" tabindex="0">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
